.price-form
    .form-add-item-freight
        .el-form-item__content
            width: 185px;
    .form-add-price-list
        .form-add-price-item
            display: flex;
            justify-content: space-between;
            .el-form-item__label
                width: 60px !important;
            .el-form-item__content
                margin-left: 60px !important;
            .delete-btn
                margin-left: 5px;
            .el-select
                width: 100px !important;
