.filter-wapper
    width: 100%;
    position: relative;
    display: flex;
    section
        flex: 1;
        display:flex;
        position: relative;
        .button-group
            margin-right: 15px;
        .fast-query
            width:350px;
            .sort-box
                margin-top: 8px;
                .sort-label
                    font-size: 12px;

    .action-tool
        display: flex;
        justify-content: space-between;
        .checkbox-group
            display: flex;
            align-items: center;
